.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
  font-weight: bold;
}

.list h4 {
  display: inline-block;
}

.list span {
  margin: 0 5px;
}

.list .date {
  font-weight: normal;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.postTitle {
  cursor: pointer;
}
