div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  border-bottom: 1px solid grey;
  font-weight: bold;
}

.list h4 {
  display: inline-block;
}

.list span {
  margin: 0 5px;
}

.list .date {
  font-weight: normal;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
}

.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.postTitle {
  cursor: pointer;
}
.input-div {
  text-align: center;
}

.input {
  font-size: 16px;
  margin: 20px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 0;
  width: 300px;
  height: 20px;
  text-align: center;
}
.input::placeholder {
  color: #bbb;
}
.button {
  margin-right: 20px;
  border: 1px solid #aaa;
  width: 100px;
  height: 35px;
  cursor: pointer;
}

.button:hover {
  background-color: #ccc;
}

.button:active {
  background-color: #aaa;
}

.clear-button,
.detail-button,
.close-modal-button {
  background-color: #ccc;
}
.clear-button:hover,
.detail-button:hover,
.close-modal-button:hover {
  background-color: #a9a9a9;
}
.clear-button:active,
.detail-button:active {
  background-color: #909090;
}

.delete-button {
  margin-bottom: 20px;
}
